@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    user-select: none;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("assets/bg_image.jpg") no-repeat;
    background-size: cover;
    backdrop-filter: blur(5px);
}

.digital-clock{
    position: relative;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 450px;
    padding: 20px 45px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0 , 0, 0, 0.37);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.digital-clock::before{
    content: '';
    position: absolute;
    background: linear-gradient(45deg, rgba(0, 255, 183, 0.5), rgba(0, 187, 255, 0.5), rgba(255, 102, 166, 0.5));
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    background-size: 200%, 200%;
    z-index: -1;
    filter: blur(40px);
    animation: glow 10s ease-in-out infinite;
}

@keyframes glow{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.time{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
      
.hours,
.dots,
.minutes,
.seconds{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    line-height: 125px;
    padding: 0 5px;
}

.hours, .minutes, .seconds{
    font-size: 70px;
    width: 100px;
}

.dots{
    font-size: 30px;
    color: rgb(73, 73, 73);
}

.hours{
    background: -webkit-linear-gradient(90deg, #030303, #454545);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.minutes{
    background: -webkit-linear-gradient(90deg, #030303, #454545);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.seconds{
    background: -webkit-linear-gradient(90deg, #030303, #454545);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.right-side{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.period{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: translateY(30px);
    background: -webkit-linear-gradient(90deg, #030303, #454545);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    background: -webkit-linear-gradient(90deg, #3b3b3b, #000000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.day-name, .day-number, .year{
    margin-left: 8px;
}

.format-radio{
    position: absolute;
    bottom: 20px;
    left: 50%;

    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot-menu-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dot-menu{
    z-index: 999;
    position: absolute;
    top: 7px;
    right: 45px;
    list-style: none;
    padding: 10px 20px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0 , 0, 0, 0.37);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.dot-menu.active{
    visibility: visible;
    opacity: 1;
}

.menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.clock-format-text{
    font-size: 0.9em;
    -webkit-linear-gradient(90deg, #3b3b3b, #000000);
    margin-right: 20px;
}

.format-switch-btn{
    width: 35px;
    height: 15px;
    background: #393939;
    border-radius: 75px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2), inset -2px -2px 5px rgba(255, 255, 255, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.format-switch-btn::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    background: #00ff80;
    border-radius: 50%;
    box-shadow: 0 5px 25px #00ff80;
    transform: translateX(-10px);
    transition: 0.3s ease;
    transition-property: background-color, transform;
}

.format-switch-btn.active::before{
    background: #ff5e9a;
    box-shadow: 0 5px 25px #ff5e9a;
    transform: translateX(10px);
}

.copyright{
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.5em;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.copyright>a{
    color: #ffffff;
    text-decoration: none;
}

@media screen and (max-width: 600px){
    .digital-clock{
        width: 300px;
        height: 200px;
    }
    .clock{
        width: 300px;
        height: 300px;
    }
    .hours, .minutes, .seconds{
        font-size: 50px;
        width: 70px;
    }
    .dots{
        font-size: 20px;
    }
    .period{
        font-size: 15px;
        transform: translateY(20px);
    }
    .calendar{
        font-size: 15px;
    }
    .day-name, .day-number, .year{
        margin-left: 5px;
    }
    .clock-format-text{
        font-size: 0.6em;
    }
    .format-switch-btn{
        width: 25px;
        height: 10px;
    }
    .format-switch-btn::before{
        width: 10px;
        height: 10px;
    }
}