@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("assets/bg_image.jpg") no-repeat;
    background-size: cover;
}

.digital-clock{
    position: relative;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: 500px;
    padding: 20px 45px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0 , 0, 0, 0.37);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.digital-clock::before{
    content: '';
    position: absolute;
    background: linear-gradient(45deg, #00ffb7, #00bbff, #ff66a6);
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    background-size: 200%, 200%;
    z-index: -1;
    filter: blur(40px);
    animation: glow 10s ease-in-out infinite;
}

@keyframes glow{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.time{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
      
.hours,
.dots,
.minutes,
.seconds{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    line-height: 125px;
    padding: 0 5px;
}

.hours, .minutes, .seconds{
    font-size: 70px;
    width: 100px;
}

.dots{
    font-size: 30px;
    color: rgb(73, 73, 73);
}

.hours{
    background: -webkit-linear-gradient(90deg, #030303, #454545);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.minutes{
    background: -webkit-linear-gradient(90deg, #030303, #454545);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.seconds{
    background: -webkit-linear-gradient(90deg, #030303, #454545);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.right-side{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.period{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: translateY(30px);
    background: -webkit-linear-gradient(90deg, #030303, #454545);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    background: -webkit-linear-gradient(90deg, #3b3b3b, #000000);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.day-name, .day-number, .year{
    margin-left: 8px;
}